<div class="center padded white-bg">
    <div class="center__content padded">
        <div class="padded">
            <h1>Don't you trust me? Look what I have been building!</h1>
        </div>
        <div class="center__content_row">
            <div class="center__content_row_card third">
                <h3>GitHub</h3>
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
                <p>You can see every project I built <a class="orange" href="https://github.com/edmanrique/edmanrique">here</a>.</p>
            </div>
            <div class="center__content_row_card third">
                <h3>LinkedIn</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" alt="">
                <p>My personal branding could be important for you, so <a class="orange" href="https://www.linkedin.com/in/anthony-stark/">check it out</a>.</p>
            </div>
            <div class="center__content_row_card third">
                <h3>BitBucket</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Bitbucket-blue-logomark-only.svg/2048px-Bitbucket-blue-logomark-only.svg.png" alt="">
                <p>In my free time I like to develop random apps <a class="orange" href="https://about.gitlab.com/platform/?stage=plan">here</a>.</p>
            </div>
        </div>
    </div>
</div>