<div class="center">
    <div class="center__content">
        <div class="center__content_row vert-pad">
            <div class="center__content_row_left padded">
                <h1>I use the newest technologies to assure that your app is the best of the best.</h1>
                <p>I never stop learning. My methodologies and results are the best for you and your business. This website was build with Python and Flask. </p>
            </div>
            <div class="center__content_row_right padded">
                <h1>We can talk about anything.</h1>
                <p>Just send me an email <a class="orange" href="#contact">clicking here</a>.</p>
            </div>
        </div>
    </div>
</div>